/*
 *  Rocket
 */
 .rocket-animation-in{
	-webkit-animation: slide-in-bl 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-bl 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.rocket-animation-vibrate{
  -webkit-animation: vibrate-1 0.3s linear 1.5s infinite both;
	        animation: vibrate-1 0.3s linear 1.5s infinite both;
}

.rocket-animation-out {
	-webkit-animation: slide-out-tr 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-tr 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

#greetings-container{
    margin-top: 5%;
}

/*
 *  Typings style
 */
 #title-typings{
    margin-top: 2%;
    color: #ffffff;
    font-weight: 700;
    font-size: 32px;
  }
  
  #subtitle-typings{
    margin-top: 1%;
    font-family: "Courier New" !important;
    color: #ffffff;
    font-weight: 300;
    font-size: 48px;
  }
  
  .typings-container-out{
    -webkit-animation: wobble-hor-bottom 1.5s both;
     animation: wobble-hor-bottom 1.5s both;
  }
  



/**
 * ----------------------------------------
 * animation slide-in-bl
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-bl {
    0% {
      -webkit-transform: translateY(1000px) translateX(-1000px);
              transform: translateY(1000px) translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bl {
    0% {
      -webkit-transform: translateY(1000px) translateX(-1000px);
              transform: translateY(1000px) translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
      opacity: 1;
    }
  }

  /* ----------------------------------------------
 * Generated by Animista on 2019-12-11 15:32:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-tr
 * ----------------------------------------
 */
 @-webkit-keyframes slide-out-tr {
    0% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-1000px) translateX(1000px);
              transform: translateY(-1000px) translateX(1000px);
      opacity: 0;
    }
  }
  @keyframes slide-out-tr {
    0% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-1000px) translateX(1000px);
              transform: translateY(-1000px) translateX(1000px);
      opacity: 0;
    }
  }
  
  
  /**
   * ----------------------------------------
   * animation vibrate-1
   * ----------------------------------------
   */
   @-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }

  /**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes wobble-hor-bottom {
    0% {
      -webkit-transform: translateX(0%) scale(1);
              transform: translateX(0%) scale(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    } 
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
    100% {
      -webkit-transform: translateX(0%) scale(2);
              transform: translateX(0%) scale(2);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
  }
  @keyframes wobble-hor-bottom {
    0% {
      -webkit-transform: translateX(0%) scale(1);
              transform: translateX(0%) scale(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    } 
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
    100% {
      -webkit-transform: translateX(0%) scale(2);
              transform: translateX(0%) scale(2);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
  }