/*
 *  Container style
 */
.container-in{
  text-align: center;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(234deg, #141a6b, #3eb3ce);
  background-size: 400% 400%;  
  -webkit-animation: backgroundAnimation 51s ease infinite;
  -moz-animation: backgroundAnimation 51s ease infinite;
  animation: backgroundAnimation 51s ease infinite;  
}

.container-out{  
  text-align: center;
  height: 100vh;
  overflow: hidden;
  -webkit-animation: flicker-in-1 1s linear 1s both;
  animation: flicker-in-1 1s linear 1s both;
}

/**
 * ----------------------------------------
 * @animation backgroundAnimation
 * ----------------------------------------
 */

@-webkit-keyframes backgroundAnimation {
  0%{background-position:0% 97%}
  50%{background-position:100% 4%}
  100%{background-position:0% 97%}
}
@-moz-keyframes backgroundAnimation {
  0%{background-position:0% 97%}
  50%{background-position:100% 4%}
  100%{background-position:0% 97%}
}
@keyframes backgroundAnimation {
  0%{background-position:0% 97%}
  50%{background-position:100% 4%}
  100%{background-position:0% 97%}
}

/**
 * ----------------------------------------
 * @animation flicker-in-1
 * ----------------------------------------
 */
 @-webkit-keyframes flicker-in-1 {
  0% {
    background: white;
  }
  100% {
    background: black;
  }
}
@keyframes flicker-in-1 {
  0% {
    background: white;
  }
  100% {
    background: black;
  }
}
